
#photo-template{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
 div{
width: 180px;
border: 2px solid rgb(183, 183, 216);
text-align: center;
height: 200px;

 } 
 img{
    width: 180px;
    height: 130px;
    /* float: left; */
    
}
/* footer{

#photo-template > * {
    width: 180px;
    height: 130px;
    /* float: left; */

    /* border: 2px solid rgb(183, 183, 216);
    
} */
footer{

clear: left;    
}
main{
    margin: 0 auto;
    width: 960px;
    
}
*{
    text-align: center;
}
img{
    float: left;
}
